<% present book do |presenter| %>

<tr>
  <td><%= book.id %></td>
  <td><%= book.title %></td>
  <td><%= presenter.author_names %></td>
  <td><%= presenter.author_ids %></td>
  <% if quantity %><td><%= quantity %></td><% end %>
<tr>

<% end %>
